@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');

:root{
     --main-color:#d3ad7f;
     --black:#fff;
     --bg:#fff;
     --border: 0.2rem solid rgba(255,255,255,.3);
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
 
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--bg);
}

section{
    padding: 2rem 7%;
}

.heading{
   font-family: "Baskerville", "Palatino Linotype", serif;
    text-align: center;
    color:var(--main-color);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;

}
.heading span{
font-family:  "Baskerville", "Palatino Linotype", serif;
color:var(--main-color);
text-transform: uppercase;
}


.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
 
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;


}

/*logo
*/

 .navbar a{

    margin: 0 1rem;
    font-size: 1.6rem;
    color:black;
}


.navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}



.icons{
    display: flex;
}

.icons div{
cursor:pointer;
margin-left: 2rem;

}

 .bars img{
    width: 50px;
    height: auto;
    display: none;
} 

.instalogooo {
    padding-top: 25%;
    width: 27px;
    height: auto;
    border-radius: 0; /* Ensures no circular rounding */
}

.instagramlinkkk {
    text-decoration: none;
}

.instalogooo:hover {
    opacity: 0.8;
    cursor: pointer;
}



.baaars {
     margin-left: 30%; 
    margin-top: 1px;
     max-height: 35px;
    /* border-radius: 0; Ensures no circular rounding */
}

.baaars:hover {
    opacity: 0.8;
    cursor: pointer;
}

























.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image:linear-gradient(rgba(12,3,51,0.3));
    background-size: cover;
    background-position: center;
}

.backvideo{
    position: absolute;
    right:100;
    left: 100;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio:16/9) {
    .backvideo{
        width: 100%;
        height: auto;
    }
    
}


@media (max-aspect-ratio:16/9) {
    .backvideo{
        width: auto;
        height:100%;
    }
    
}














.content{
    max-width: 60rem;
}
.content h1{
font-size: 6rem;
color: black;
text-transform: uppercase;
}
.content p{
font-size: 2rem;
font-weight: lighter;
padding: 1rem 0;
line-height: 1.8 ;
color: black;

}

.home{
    background-position: left;
    justify-content: center;
    text-align: center;
}
.content h1{
    font-size: 160px;             /* 4.5rem*/
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
.content p{
    font-size: 20px; 
    color: #fff;               /*1.5rem*/
}


.content1 h1{

-webkit-text-stroke: 2px #fff;
color: transparent;


}









.row1{

    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}
.image1{

    flex: 1 1 45rem;
}

.content1{
    flex: 1 1 45rem;
    padding: 2rem;
}
.content1 h3{
font-size: 3rem;


}
.content1 p{
    font-size: 1.6rem;
    color: #333;       /* color:#a59385 ; */
    padding: 1rem 0;
    line-height: 1.8;
    }







/* 
.boxcontainer{

    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(40rem,1fr));
    gap: 1.5rem;
}

.box{
    padding: 3rem;
    text-align: center;
     border:0.01rem solid rgba(255,255,255,.3)
}
.box img{

    height: 12rem;
}


.box h3{

color: #fff;
font-size: 2rem;
padding: 1rem.0;

}

.box:hover{
    background-color:rgb(39, 39, 39); /* highlighting part 

} */

/*/////////////////////////////////////////////////////////////////////*/

.boxcontainer2 {
    margin-top: 20px;
    display: flex;                /* Set the container to flex mode */
    justify-content: center;      /* Center the videos horizontally */
    align-items: center;          /* Align videos vertically */
    gap: 17px;                    /* Optional: Add some space between the videos */
}

.box2 {
    flex: 1;                      /* Make each video take up equal space */
}

.projectvideo {
    width: 100%;                  /* Ensure the video fills its parent */
    height: auto;                 /* Maintain aspect ratio */
}


/*//////////////////////////////////////////////////////////*/



 .services-section {
    text-align: center;
    padding: 50px;
    background-color: #f9f9f9;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.service {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.service:hover {
    transform: translateY(-10px);   /* animation of the box moving*/
}

.service h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color:#887a71 /* color: #333; */
}

.service p {
    font-size: 14px;
    color: #666;
}
.services-section h1 {
    font-size: 30px;
     /* color: #333; */
    margin-top: 1cm;
    margin-bottom: 0.75cm;

    color:var(--main-color);
     font-family: Baskerville, Palatino Linotype, serif
}















































.boxcontainer3{

    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(40rem,1fr));
    gap: 1.5rem;
}

.box3{
    padding: 3rem;
    text-align: center;
    /* border:0.01rem solid rgba(255,255,255,.3)*/
}


.box3 h3{

    
    color: #7a7a7a; /*color:#a59385 */
    font-size: 3rem;
    padding: 1rem.0;
    
}
.box3 p{
   color: #666; /* color:#a59385; */
    font-size: 1.5rem;
    padding: 1rem.0;
    line-height: 1.8;
    text-transform: none;
}


.footer{
    background:#e7e3e0;
    text-align: center;
}

.share{

    padding: 1rem 0;
}

/*.share a{

    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--border);
    margin: 3rem;
    border-radius: 50rem;

}

.share a:hover{

    color: var(--main-color);
}
*/



.instalogo {
    width: 50px;
    height: auto;
    border-radius: 0; /* Ensures no circular rounding */
    background: none; /* Removes any background */
}

.instagramlink {
    text-decoration: none;
}

.instalogo:hover {
    opacity: 0.8;
    cursor: pointer
}





/*----------------------------------________________________________________________________-------------------------------*/






/*_______________________________________________________________________________________________________*/
  
.about {
    margin-top: 40px; /* Adjust the value as needed */
}

.clients{
    margin-top: 100px;
}


.services{

     margin-top: 100px; ;
}
.contacts{
    margin-top: 150px;
}

/*-----------------------_________________________________________________________________----------------------*/

.content h1 {
    
    font-size: 4rem; /* Default size for larger screens  4rem*/
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s ease-in-out forwards;

    transition: 0.5sec;
 
  }
  



  .content h1:hover{

    -webkit-text-stroke: 0.5px #fff;
    color: transparent;
    
    
    }
    




  .content p {
    font-size: 1.5rem; /* Default size for larger screens */
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 2s ease-in-out forwards;
    animation-delay: 0.5s;
  }




@media (max-width: 768px) {
    .content h1 {
      font-size: 3rem; /* Reduce size on smaller screens */
    }
  
    .content p {
      font-size: 1.2rem; /* Reduce size on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .content h1 {
      font-size: 2.5rem; /* Further reduce size on very small screens */
    }
  
    .content p {
      font-size: 1rem; /* Further reduce size on very small screens */
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }



/*----------------------_____________________________________________________________________---------------------*/

/* .boxcontainer {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 1.5rem;

}

.box {
    padding: 3rem;
    text-align: center;
    border: 0.01rem solid rgba(255, 255, 255, .3);
    opacity: 0; /* Start as invisible 
    transform: translateY(20px); /* Start lower 
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition 
  
}

.box img {
    height: 12rem;
} */


/*----------------------box sliding--------------------------------*/
.clients {
    padding: 2rem;
    overflow: hidden; /* Hide boxes that slide out of view */
}

 .boxcontainer {
    display: flex;
    gap: 2rem;
    transition: transform 0.5s ease; /* Smooth transition for sliding */
}

 .box {
    flex: 0 0 calc(20% - 1rem);
    width: calc(25% - 2rem);; /* 25% width for 4 boxes per row, minus the gap */
    height: 13rem;
    padding: 1rem;
    text-align: center;
    border: 0.01rem solid rgba(255, 255, 255, .3);
    opacity: 1;
} 

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.box h3 {

    padding-top: 1.5rem;  /* Small top padding */
    color:#a59385;          /* Change this to any desired color */
    font-size: 1.2rem;    /* Adjust font size if needed */
    margin: 0;            /* Remove default margins */
    text-transform: uppercase; /* Optional: make text uppercase */
    display: none;
}










/*_______________________________end_______________________________________________________*/















































































@media(max-width:991px)
{
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5 rem 2rem;
    }
}



@media(max-width:991px)
{



    .bars img{
        width: 50px;
        height: auto;
        display: inline-block;
    }





    .navbar{
position:absolute;
top: 100%;
right: -100%;
background: #fff;
width: 30rem;
height :calc(100vh - 9.5rem);


    }

.navbar.active{

    right: 0;
}


    .navbar a{
        color: black;
       display: block;
       margin: 1.5rem;
       padding: .5rem;
       font-size: 2rem;
        
            }



}